body {
  background: radial-gradient(506px at 50.6% 16.5%, rgb(239, 252, 250) 5.5%, rgb(154, 192, 206) 100.2%);
}

.App-header {
  margin: 30px 0;
  font-size: 70px; 
  font-weight: bold;
  text-align: center;
  color: hsl(173, 100%, 15%);
  font-family: "Satisfy", cursive;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

.App {
  font-family: Raleway;
  max-width: 910px;
  margin: 0 auto;
}

a {
  color: #5c8d89;
}